* {
  box-sizing: border-box;
  margin: 0;
}

.Button {
  margin: 0;
  padding: .5em 1.5em;
  outline: none;
  background-color: hsl(193,9%,79%);
  border: 1px solid hsl(193,9%,19%);
  border-radius: .5rem;
}